body{
   background-color: rgb(255, 255, 145); 
}
body{
    background-color: lemonchiffon;
}
a{
    color: rgb(128, 5, 144);
}
a:hover{
    color: black;
}
hr{
    border: 1px solid;
}
img{
    width: 30%; /*largura*/
    height: auto; /*altura*/
    border-radius: 5px; /*arredondar bordas*/
    box-shadow: 3px 3px 5px black; /*volor1 e valor2 são projeções da sombra, valor3 espalhamento da sombra, cor da sombra*/
 } 